// ----------- PATRONES DE COLORES ----------- //

//$principal: #00ad75;
$principal: #00b63e;

//$secundario: #35363c;
$secundario: #4c4c4c;
$texto: #696969;

// ----------- TIPOGRAFÍA DEL SITIO ----------- //
html{
    font-size: 13px;
}

body{
    font-family: 'Lato', sans-serif;
    color: $texto;
}

// ----------- ESTILOS GENERALES DE BOTONES ----------- //

.btn{
    border-radius: 2rem;
    padding: .6rem 2rem;
    font-weight: bold;
}

.btn-primary{
    color: #fff;
    background-color: $principal !important;
    border-color: $principal !important;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: all .5s ease;
}

.btn-primary:hover{
    color: $secundario;
    background-color: #fff !important;
    border-color: $principal !important;
}

.btn-primary:active{
    color: black !important;
    background-color:lighten($principal, 5%) !important;
    border-color: lighten($principal, 10%) !important;
}

.btn-primary:focus {
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba($principal, $alpha: .5) !important;
}

.btn-primary:after{
    font-family: "Font Awesome 5 Free";
    content: "\f138";
    font-weight: 900;
    position: relative;
    left: .6rem;
    top: 0.025rem;
    transition: left .3s ease;
}

.btn-primary:hover:after,
.btn-primary:active:after,
.btn-primary:focus:after{
    left: .3rem;
}

.btn-secondary{
    color: #fff;
    background-color: $secundario !important;
    border-color: $secundario !important;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: all .5s ease;
}

.btn-secondary:hover{
    color: $secundario;
    background-color: #fff !important;
    border-color: $secundario !important;
}

.btn-secondary:active{
    color: black !important;
    background-color:lighten($secundario, 5%) !important;
    border-color: lighten($secundario, 10%) !important;
}

.btn-secondary:focus {
    color: black !important;
    box-shadow: 0 0 0 0.2rem rgba($secundario, $alpha: .5) !important;
}

.btn-secondary:after{
    font-family: "Font Awesome 5 Free";
    content: "\f138";
    font-weight: 900;
    position: relative;
    left: .6rem;
    top: 0.025rem;
    transition: left .3s ease;
}

.btn-secondary:hover:after,
.btn-secondary:active:after,
.btn-secondary:focus:after{
    left: .3rem;
}

// ----------- CAJA BLANCA DEL BOTON PRINCIPAL ----------- //

.btn-primary:before{
    content: '';
    width: 0px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: skewX(45deg);
    transition: all .3s ease;
    z-index: -1;
}

.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary:active:before{
    width: 130%;
    left: -15%;
}


// ----------- ESTILOS COLOR PRINCIPAL ----------- //

.bg-primary{
    background-color: $principal !important;
}

.text-primary{
    color: $principal !important;
}

// ----------- ESTILOS COLOR SECUNDARIO ----------- //

.bg-secondary{
    background-color: $secundario !important;
}

.text-secondary{
    color: $secundario !important;
}

// ----------- ESTILOS CABECERA REDES SOCIALES ----------- //

.redes-sociales li a i{
    padding: .6rem 1rem;
    font-size: 1.5rem;
    color: white;
    opacity: .4;
    transition: all .3s ease-in-out;
}

.redes-sociales li a i:hover{
    opacity: 1;
    transform: scale(1.3) rotate(360deg);
}

// ----------- ESTILOS PARA EL MENU DE NAVEGACION ----------- //

#menu-navegacion .navbar-toggler {
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    outline: 0;
}

#menu-navegacion .boton-menu::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

#menu-navegacion .cerrar-boton::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    font-size: 2rem;
    color: white;
    position: relative;
    left: 0.2rem;
}

.navbar-dark .navbar-nav .nav-link{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    transition: all .3s ease;
}

.navbar-dark .navbar-nav .nav-link::after{
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    transition: all .3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover:after{
    transform: rotateZ(180deg)
}

.navbar-dark .navbar-nav .nav-link:hover{
    background-color: lighten($secundario, 10%);
}

.menu-fijo{
    transition: all .5s ease !important;
    background-color: darken($secundario, 15%) !important;
    width: 100% !important;
}

#inicio-sesion .input-control{
    display: block;
    width: 30%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

// ----------- ESTILOS PARA EL LINK ACTIVE  ----------- //

.navbar-dark .navbar-nav .nav-link.active{
    background-color: $principal;
}

// ----------- ESTILOS SWIPER ----------- //

.swiper-slide{
    height: 450px;
    text-align: center;
    background-size: cover;
    background-position:center center ;
}

.swiper-slide::before{
    content: "";
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
}

// ------ BOTONES DE NAVEGACION ------ //

.swiper-button-next::after{
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    color: white;
    font-size: 1.7rem;
    margin-right: 3rem;
    background-color: #35363c75;
    border-radius: 50%;
    padding: 0.8rem;
    transition: all 0.2s ease-in;
}

.swiper-button-prev::after{
    font-family: "Font Awesome 5 Free";
    content: "\f060";
    font-weight: 900;
    color: white;
    font-size: 1.7rem;
    margin-left: 3rem;
    background-color: #35363c75;
    border-radius: 50%;
    padding: 0.8rem;
    transition: all 0.5s ease;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after{
    color: $principal;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $principal;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

// --- VIDEO --- //

.contenedor-video a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.79);
    opacity: 1;
    width: 7rem;
    height: 7rem;
    display: flex;
    border-radius: 50%;
    color: $principal;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    background-clip: padding-box;
    border: 0px solid transparent;
}

.contenedor-video a:hover{
    background-color: $principal;
    border: 10px solid rgba(255,255,255,0.79);;
    color: white;
}

.contenedor-video img{
    transition: all 0.5s ease;
}

.contenedor-video:hover img{
    transform: scale(1.2);
}

// --- TE AYUDAMOS --- //

#nuestra-app::before{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0, 0.52);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

// --- PREMIOS --- //

.contador-linea{
    background-color: $principal;
    width: 50%;
    height: 0.4rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all .5s ease;
}

#premios .col-6:hover .contador-linea{
    bottom: 1rem;
    transform: translateX(-50%) rotate(180deg) ;
}

// --- DONDE ESTAMOS --- //

#donde-estamos::before{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0, 0.52);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

// --- CONTACTANOS --- //

#contacto header{
    position: relative;
}

#contacto header .flecha{
    width: 30px;
    height: 30px;
    background-color: $principal;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
}

// FORMULARIO //

.input-group-cita{
    margin-bottom: 0;
    cursor: pointer;
}

.picker__box{
    border: 5px solid $principal;
}

.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover {
    cursor: pointer;
    color: #000;
    background: $principal;
}

.picker__day--today:before {
    border-top: .5em solid white;
}

.picker__list-item--highlighted, .picker__list-item:hover {
    border-color: darken($principal, 10%);
    z-index: 10;
}

.picker--focused .picker__list-item--selected, .picker__list-item--selected, .picker__list-item--selected:hover {
    background: $principal;
    color: #fff;
    z-index: 10;
}

.picker__list {
    list-style: none;
    padding: .75em 0 0;
    margin: 0;
}

.picker--time .picker__button--clear {
    margin: 1em auto 1rem;
}


// FOOTER //

.columna-inclinada::before{
    content: '';
    position: absolute;
    background-color: $principal;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0;
}

#lista-pie-pagina ul li a{
    padding: 1rem;
    text-decoration: none;
    color: white;
    display: block;
}

#lista-pie-pagina ul{
    border-bottom: 1px solid #5d666f;
    box-shadow: 0 1px #212529;
}

// ----------- MEDIA QUERYS ----------- //

@media (min-width: 768px){

    .navbar-dark .navbar-nav .nav-link:after{
        content: '';
    }

    .navbar-dark .navbar-nav .nav-link{
        padding: .7rem 1.5rem;
        border-radius: 1.5rem;
    }

    #te-ayudamos{
        position: relative;
        transform: skew(0,3deg);
    }
    
    
    #te-ayudamos .container{
        transform: skew(0, -3deg);
    }
    
    #te-ayudamos::before{
        content: '';
        position: absolute;
        background-color: rgba(0,0,0, 0.52);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .columna-inclinada::before{
        content: '';
        position: absolute;
        background-color: $principal;
        left: -500%;
        right: 0;
        top: 0;
        bottom: 0;
        transform: skew(20deg);
    }
}

@media (min-width: 992px){
    html{
        font-size: 16px;
    }
    .swiper-slide{
        height: 600px;
    }
}

@media (min-width: 992px){
    .swiper-slide{
        height: 700px;
    }
}